h1 {
  font: normal 400 100px 'Roboto', sans-serif;
  margin-top: 10px;
  margin-left: 30px;
}

.home {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  font: normal 400 20px 'Roboto', sans-serif;
  justify-content: center;
  text-align: center;
  margin: 20px;
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-top: 50px;
  text-decoration: none;
}
