html {
  background: #fff url(../img/background.png) no-repeat fixed 0 0;
}

h1,
h2 {
  font: normal 400 40px 'Roboto', sans-serif;
  margin: 20px;
}

div {
  justify-content: right;
  text-align: right;
  margin: 20px;
  display: flex;
  font: italic 400 20px 'Roboto', sans-serif;
  line-height: 2;
}

.nonitalic {
  font: normal 400 15px 'Roboto', sans-serif;
}
