* {
  background-color: #fff;
}

h1,
h2 {
  font: normal 700 40px 'Roboto', sans-serif;
  margin: 20px;
  justify-content: center;
  text-align: center;
}

section {
  display: flex;
  text-decoration: none;
  font: italic 400 20px 'Roboto', sans-serif;
  margin: 20px;
  line-height: 2;
  justify-content: center;
  text-align: center;
}

.nonitalic {
  font: normal 400 15px 'Roboto', sans-serif;
}
